---
import { Image } from "astro:assets";
import Logo from "../../assets/home/logo.svg";
import FB from "../../assets/home/fb.svg";
import Insta from "../../assets/home/insta.svg";
import Twitter from "../../assets/home/twitter.svg";
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer class=` ${className}`>
  <div id="orange-border"></div>
  <section class="flex just-s-b">
    <Image src={Logo} width={143} height={25} alt="footer-logo" />
    <nav class="flex color-p-w">
      <a href="/" class="font-s-13 font-ls-2 bold font-lh-25">HOME</a>
      <a href="/headphones" class="font-s-13 font-ls-2 bold font-lh-25"
        >HEADPHONES</a
      >
      <a href="/speakers" class="font-s-13 font-ls-2 bold font-lh-25"
        >SPEAKERS</a
      >
      <a href="/earphones" class="font-s-13 font-ls-2 bold font-lh-25"
        >EARPHONES</a
      >
    </nav>
  </section>
  <section class="flex w-100">
    <p class="color-p-w font-s-15 font-lh-25">
      Audiophile is an all in one stop to fulfill your audio needs. We're a
      small team of music lovers and sound specialists who are devoted to
      helping you get the most out of personal audio. Come and visit our demo
      facility - we’re open 7 days a week.
    </p>
    <div class="flex w-100">
      <a href="https://facebook.com"> <Image src={FB} alt="facebook" /> </a>
      <a href="https://instagram.com">
        <Image src={Insta} alt="instagram" />
      </a>
      <a href="https://twitter.com"> <Image src={Twitter} alt="twitter" /> </a>
    </div>
  </section>
  <section class="flex just-s-b">
    <p class="color-p-w font-s-15 font-lh-25 bold">
      Copyright 2021. All Rights Reserved
    </p>
    <div id="mobile-logos" class="flex w-100">
      <a href="https://facebook.com"> <Image src={FB} alt="facebook" /> </a>
      <a href="https://instagram.com">
        <Image src={Insta} alt="instagram" />
      </a>
      <a href="https://twitter.com"> <Image src={Twitter} alt="twitter" /> </a>
    </div>
  </section>
</footer>

<style>
  #mobile-logos {
    display: none;
  }
  footer {
    padding-bottom: 48px;
  }
  #orange-border {
    height: 4px;
    width: 101px;
    background-color: var(--copper);
  }

  nav {
    gap: 34px;
  }

  div {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
  }

  p {
    opacity: 0.5;
  }

  section:nth-of-type(1) {
    margin-top: 75px;
  }

  section:nth-of-type(2) {
    margin-top: 35px;
  }

  section:nth-of-type(3) {
    margin-top: 56px;
  }

  section:nth-of-type(3) > p {
    flex-shrink: 0;
  }

  @media (max-width: 58.25rem) {
    section:nth-last-of-type(2) > div {
      display: none;
    }
    #mobile-logos {
      display: flex;
    }
    section:nth-of-type(1) {
      flex-direction: column;
      gap: 32px;
    }

    section:nth-of-type(2) {
      margin-top: 32px;
    }
  }
</style>
